<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-md-5 col-lg-4 col-sm-8">
            <!-- Login Form -->
            <div class="card">
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title"><b>Sign In</b></h4>
                    <!-- Text -->
                    <form class="text-left" [formGroup]="loginForm" (ngSubmit)="login(loginForm.valid)">

                        <!-- Email -->
                        <label for="" class="m-0 small">Email</label>
                        <input formControlName="email" type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
                        <span *ngIf="!loginForm.get('email').valid && loginAttempt && loginForm.get('email').hasError('required')">
                            Please provide a email!
                        </span>
                        <div *ngIf="loginForm.get('email').hasError('email')">
                            Please provide a valid email!
                        </div>
                        <!-- Password -->
                        <label for="" class="m-0 small">Password</label>
                        <input formControlName="password" type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
                        <span *ngIf="!loginForm.get('password').valid && loginAttempt && loginForm.get('password').hasError('required')">
                            Please provide a password!
                        </span>
                        <div class="d-md-flex d-block justify-content-between">
                            <div>
                                <div class="custom-control custom-checkbox">
                                    <input name="rememberMe" formControlName="rememberMe" type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                                    <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                                </div>
                            </div>

                            <div>
                                <a href="" class="small">Forgot password?</a>
                            </div>
                        </div>

                        <!-- Sign in button -->
                        <button class="btn elegant-color text-white btn-sm btn-block my-4 rounded" type="submit">Sign in</button>
                        <p class="small">By continuing, you agree to our <a href="">Terms of Use</a> and <a href="">Privacy Policy</a>.</p>

                    </form>
                </div>
            </div>

            <hr class="my-4">
            <div class="d-flex justify-content-center">
                <p class="mx-auto bg-white small d-inline-block px-2 text-black-50" style="margin-top: -36px;">New Member ?</p>
            </div>
            

            <!-- Create Account Button -->
            <a href="" role="button" class="btn-block unique-color text-white btn btn-sm rounded">Create your account</a>
        </div>
    </div>
    
</div>