<main class="container">
    <div class="row align-items-center" style="min-height: 100vh;">
        <div class="col d-flex justify-content-center">
            <div class="card border-0 col p-0">
                <div class="card-body text-center p-0">
                    <i class="fa fa-check-circle-o fa-5x" style="color: #218838;" aria-hidden="true"></i>
                    <h3 class="card-title mt-3">Email Verified</h3>
                    <p class="card-text">Your email address successfully verified.</p>
                    <a href="#" class="btn btn-dark m-2">Back</a>
                    <a href="#" class="btn btn-success m-2">Home</a>
                </div>
              </div>
        </div>
    </div>
    
    
</main>