<div class="page-wrapper chiller-theme toggled">
      <app-side-navigation></app-side-navigation>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
      <div class="container-fluid">
        <h2>Welcome {{userName}}</h2>
        <hr />
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header">
                  Account Verification
                </div>
                <div class="card-body text-center">
                    <i class="fa fa-exclamation-triangle text-warning fa-3x text-center" aria-hidden="true"></i>
                  <h5 class="card-title">Your Account is unverified</h5>
                  <p class="card-text">Please wait until your account is verified by admin.</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
          </div>
          
        </div>
        <hr />
  
        
  
        <footer class="text-center">
          <div class="mb-2">
            <small>
              © 2021 made with <i class="fa fa-heart" style="color: red"></i> All Rights Reserved
            </small>
          </div>
        </footer>
      </div>
    </main>
    <!-- page-content" -->
  </div>