<div class="page-wrapper chiller-theme toggled">
  <app-side-navigation></app-side-navigation>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">
      <h2>Manage Inventory</h2>
      <hr />
      <div class="row">
        <div class="filer col p-3 rounded my-2 elegant-color text-white">
          <div class="row d-flex align-items-center">
            <div class="col-lg-9">
              <span class="small mr-3">Listing Status</span>
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  type="radio"
                  class="custom-control-input"
                  id="defaultInline1"
                  name="inlineDefaultRadiosExample"
                />
                <label class="custom-control-label" for="defaultInline1"
                  >All</label
                >
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input
                  type="radio"
                  class="custom-control-input"
                  id="defaultInline2"
                  name="inlineDefaultRadiosExample"
                />
                <label class="custom-control-label" for="defaultInline2"
                  >Active</label
                >
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input
                  type="radio"
                  class="custom-control-input"
                  id="defaultInline3"
                  name="inlineDefaultRadiosExample"
                />
                <label class="custom-control-label" for="defaultInline3"
                  >Inactive</label
                >
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input
                  type="radio"
                  class="custom-control-input"
                  id="defaultInline4"
                  name="inlineDefaultRadiosExample"
                />
                <label class="custom-control-label" for="defaultInline4"
                  >Blocked</label
                >
              </div>
            </div>
            <!-- <div class="col-lg-3 my-2">
              <select class="browser-default custom-select">
                <option selected>Select Action</option>
                <option value="1">All</option>
                <option value="2">Active</option>
                <option value="3">Three</option>
              </select>
            </div> -->
          </div>
        </div>
        <div class="table-responsive rounded table-striped">
          <table class="table">
            <thead class="grey lighten-2 small text-uppercase">
              <tr class="text-nowrap">
                <th scope="col">Status</th>
                <th scope="col">Image</th>
                <th scope="col">SKU condition</th>
                <th scope="col">Product Name</th>
                <th scope="col">Date Created/Updated</th>
                <th scope="col">Available</th>
                <th scope="col">Reserved</th>
                <th scope="col">Fee Preview</th>
                <th scope="col">Price + Shipping</th>
                <th scope="col">Lowest Price + Shipping</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr style="cursor: pointer" *ngFor="let product of products; let i=index;">
                <td>{{product?.isApproved ? 'Approved' : 'Disapproved'}}</td>
                <td >{{product?.productImg[0]}}</td>
                <td>{{product?.sku}}</td>
                <td>{{product?.itemName}}</td>
                <td>{{product?.updatedAt | date:'medium'}}</td>
                <td> {{product?.availableUnits - (product?.soldUnit >= 0 ? product?.soldUnit : 0)}}</td>
                <td>{{product?.soldUnit}}</td>
                <td>{{product?.commission}}</td>
                <td class="d-flex"> 
                  <i class="fa fa-rupee my-2 py-1"></i> 
                  <input class="form-control" style="width: 60px; margin-left: 10px;" type="text" [(ngModel)]="product.productPrice" (blur)="updatePrice(product)"></td>
                <td> NA</td>
                <td class= "action-btn">
                  <span  (click)="editProduct(product)"> <i  class="fa fa-pencil"></i></span>
                  <span (click)="goToProdDescPage(product._id)"><i class="fa fa-eye"></i></span>
                </td>
                <!-- <td *ngIf="!product?.isApproved">{{product?.feedback ? product?.feedback : 'No feedback'}}</td> -->

                <!-- <td>
                  <p class="text-left small m-0">Inactive</p>
                  <span class="text-left small m-0 p-0 text-muted"
                    >(Out Of Stock)</span
                  >
                </td> -->
                <!-- <td>
                  <img
                    src="https://images-na.ssl-images-amazon.com/images/I/61pZoOB87SL.jpg"
                    alt=""
                    width="50px"
                    height="50px"
                  />
                </td>
                <td>Cell</td>
                <td>
                  <p class="small p-0 m-0">
                    ROYAL TREND® Carpets 5 Feet x 7 Feet Black Cotton Skin
                    Friendly Runner Rug Mat for Dining Hall Living Room Hall
                    (Kalin Carpet 55"x86")
                  </p>
                </td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td> -->
              </tr>

              <!-- <tr>
                <th scope="row">
                  <input type="checkbox" style="cursor: pointer" />
                </th>
                <td>
                  <p class="text-left small m-0">Inactive</p>
                  <span class="text-left small m-0 p-0 text-muted"
                    >(Out Of Stock)</span
                  >
                </td>
                <td>
                  <img
                    src="https://images-na.ssl-images-amazon.com/images/I/61pZoOB87SL.jpg"
                    alt=""
                    width="50px"
                    height="50px"
                  />
                </td>
                <td>Cell</td>
                <td>
                  <p class="small p-0 m-0">
                    ROYAL TREND® Carpets 5 Feet x 7 Feet Black Cotton Skin
                    Friendly Runner Rug Mat for Dining Hall Living Room Hall
                    (Kalin Carpet 55"x86")
                  </p>
                </td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>

      <footer class="text-center">
        <div class="mb-2">
          <small>
            © 2021 made with <i class="fa fa-heart" style="color: red"></i> All
            Rights Reserved
          </small>
        </div>
      </footer>
    </div>
  </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>
