<div class="page-wrapper chiller-theme toggled">
  <app-side-navigation></app-side-navigation>
  <!-- sidebar-wrapper  -->
  <section class="page-content">
    <div class="container-fluid">
      <h2>Find Your Products</h2>
      <hr />
      <form class="border rounded border-light p-sm-5 p-3">
        <label for="" class="">Search Product</label>
        <div class="input-group">
          <input type="text" name="search" (keyup)="searchProduct()" [(ngModel)]="searchText" class="form-control"
            placeholder="Product Name, Barcode, Brand, CIN (Company Identification Number)" />
          <div class="input-group-append">
            <button class="btn btn-secondary" (click)="searchProduct()" type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <!-- <button type="button" class="mt-2 btn mb-4 btn-sm btn-dark" (click)="showAddProductSection = !showAddProductSection">I'm adding a product not sold here</button> -->

        <a class="text-primary" *ngIf="!isFromEdit" (click)="showAddProductSection = !showAddProductSection">I'm adding a product not sold
          here</a>
        <a class="text-primary" *ngIf="isFromEdit" (click)="resetCompleteForm()">Add new product</a>
      </form>
    </div>
  </section>

  <section class="page-content" *ngIf="searchResult.length">
    <div class="container-fluid">
      <h2>Search Results</h2>
      <hr />
      <!-- <div class="mb-4" *ngIf="!searchResult.length">
          No Product found
        </div> -->
      <div class="row" *ngIf="searchResult.length">
        <div *ngFor="let product of searchResult" class="col-sm-4 col-md-3 col-lg-2 my-2">
          <div class="card px-2">
            <img
              src="https://rukminim1.flixcart.com/image/150/150/k0cqqvk0/bottle/4/v/c/1000-venice-fridge-water-bottles-120-cello-original-imafk5tysrejtyhj.jpeg"
              class="card-img-top" style="height: 150px;" />
            <div class="card-body px-0">
              <h5 class="card-title">{{ product?.itemName }}</h5>
              <p class="card-text">{{ product?.brand }}</p>
              <!-- <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></a> -->
              <button type="button" (click)="setProductValues(product)" class="btn btn-success btn-sm mx-2">
                <i class="fa fa-check" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <main class="page-content" *ngIf="showAddProductSection">
    
    <div class="row">
      <!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '10px' }"></ngx-loading> -->
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div id="wizard">
              <ul class="nav nav-justified nav-pills">
                <li [ngClass]="step==0?'active':''" disabled="true">Product Information</li>
                <li [ngClass]="step==1?'active':''" disabled="true">Description</li>
                <li [ngClass]="step==2?'active':''" disabled="true">Images</li>
                <li [ngClass]="step==3?'active':''" disabled="true">Selling Info</li>
                <li [ngClass]="step==4?'active':''" disabled="true">Product Variations</li>
                <!-- <li [ngClass]="step==4?'active':''" disabled="true">5. Fifth Step</li> -->
              </ul>
              <!-- <form [formGroup]="addProductForm"> -->
              <section class="border rounded border-light p-sm-5 p-3" [ngStyle]="step==0?{'display': 'block'}:{'display': 'none'}">
                <form [formGroup]="productInformationForm">
                  <label for="" class="small">Item Name (AKA Title)</label>
                  <input type="text" class="form-control mb-4" placeholder="Item Name" formControlName="itemName" 
                  [ngClass]="{'form-controlError': isProductInformationFormSubmitted && productInformationForm?.controls?.itemName?.errors}"/>

                  <label for="" class="small">Model Number</label>
                  <input type="text" class="form-control mb-4" placeholder="Model Name" formControlName="model" 
                  [ngClass]="{'form-controlError': isProductInformationFormSubmitted && productInformationForm?.controls?.model?.errors}"/>

                  <label for="" class="small">Barcode</label>
                  <input type="text" class="form-control mb-4" placeholder="Barcode" formControlName="barcode" 
                  [ngClass]="{'form-controlError': isProductInformationFormSubmitted && productInformationForm?.controls?.barcode?.errors}"/>

                  <label for="" class="small">HSN Number</label>
                  <input type="text" class="form-control mb-4" placeholder="HSN Number" formControlName="hsn" 
                  [ngClass]="{'form-controlError': isProductInformationFormSubmitted && productInformationForm?.controls?.hsn?.errors}"/>

                  <label for="" class="small">Country Of Origin</label>
                  <input type="text" class="form-control mb-4" placeholder="" formControlName="countryOfOrigin" 
                  [ngClass]="{'form-controlError': isProductInformationFormSubmitted && productInformationForm?.controls?.countryOfOrigin?.errors}"/>

                  <label for="" class="small">City</label>
                  <input type="text" class="form-control mb-4" placeholder="City" formControlName="city" 
                  [ngClass]="{'form-controlError': isProductInformationFormSubmitted && productInformationForm?.controls?.city?.errors}"/>

                  <label for="" class="small">Manufacturer</label>
                  <input type="text" class="form-control mb-4" placeholder="Manufacturer" formControlName="brand" 
                  [ngClass]="{'form-controlError': isProductInformationFormSubmitted && productInformationForm?.controls?.brand?.errors}"/>

                  <label for="" class="small">Available Units</label>
                  <input type="" class="form-control mb-4" placeholder="Available Units"
                    formControlName="availableUnits" [ngClass]="{'form-controlError': isProductInformationFormSubmitted && productInformationForm?.controls?.availableUnits?.errors}"/>

                  <label for="" class="small">Product Dimensions (inch/cm)</label>
                  <div class="row d-flex justify-content-between col-12" formGroupName="dimensions">
                    <div class=" col-md-4">
                      <input type="text" class="form-control mb-4" placeholder="Length"
                        formControlName="length" [ngClass]="{'form-controlError': isProductInformationFormSubmitted && productInformationForm?.controls?.dimensions?.controls?.length?.errors}"/>
                    </div>
                    <div class=" col-md-4">
                      <input type="text" class="form-control mb-4" placeholder="Width" formControlName="width" [ngClass]="{'form-controlError': isProductInformationFormSubmitted && productInformationForm?.controls?.dimensions?.controls?.width?.errors}"/>
                    </div>
                    <div class=" col-md-4">
                      <input type="text" class="form-control mb-4" placeholder="Height"
                      formControlName="height" [ngClass]="{'form-controlError': isProductInformationFormSubmitted && productInformationForm?.controls?.dimensions?.controls?.height?.errors}"/>
                    </div>
                  </div>
                  <label for="" class="small">Product Weight(kg/gm)</label>
                  <input type="text" class="form-control mb-4" placeholder="" formControlName="weight" 
                  [ngClass]="{'form-controlError': isProductInformationFormSubmitted && productInformationForm?.controls?.weight?.errors}"/>

                  <label for="" class="small">Category</label>
                  <select name="" id="" class="form-control mb-4" formControlName="categoryId"
                    (change)="getSubCategories()" [ngClass]="{'form-controlError': isProductInformationFormSubmitted && productInformationForm?.controls?.categoryId?.errors}">
                    <option value="">Select Category</option>
                    <option *ngFor="let category of categories" value="{{ category._id }}">{{ category?.categoryName }}
                    </option>
                  </select>
                  <label for="" class="small">Sub-Category</label>
                  <select name="" id="" class="form-control mb-4" formControlName="subCategoryId"
                  [ngClass]="{'form-controlError': isProductInformationFormSubmitted && productInformationForm?.controls?.subCategoryId?.errors}">
                    <option value="">Select Sub-Category</option>
                    <option *ngFor="let subCategory of subCategories" value="{{ subCategory._id }}">{{
                      subCategory?.subCategoryName }}</option>
                  </select>
                </form>

              </section>

              <section class="border rounded border-light p-sm-5 p-3" [ngStyle]="step==1 ? {'display': 'block'}:{'display': 'none'}">
                <form [formGroup]="productDescriptionForm">
                  <label for="" class="small">Product Description</label>
                  <textarea class="form-control mb-4"
                    placeholder="8-Peice luxury comforter set product includes 1 comforter, 1 bed skirt, 2 shams, 2 euro shams and 2 decorated pillows"
                    formControlName="description" [ngClass]="{'form-controlError': isProductDescriptionFormSubmitted && productDescriptionForm?.controls?.description?.errors}"></textarea>

                  <label for="" class="small">Bullet Points</label>
                  <textarea type="text" class="form-control mb-4" placeholder="Embroidered design"
                    formControlName="heading" [ngClass]="{'form-controlError': isProductDescriptionFormSubmitted && productDescriptionForm?.controls?.heading?.errors}">
                    </textarea>
                </form>

              </section>

              <section class="border rounded border-light p-sm-5 p-3" [ngStyle]="step==2 ? {'display': 'block'}:{'display': 'none'}">
                  <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-6 my-2">
                      <label for="file-input1">
                        <img src="https://toppng.com/uploads/preview/file-upload-image-icon-115632290507ftgixivqp.png"
                          style="width: 100%; cursor: pointer;" />
                      </label>
                      <input #fileInput id="file-input1" type="file" (click)="fileInput.value = null" (change)="uploadFiles($event)" class="d-none"  accept=".png, .jpeg, .jpg"/>
                    </div>
                    <div class="col-lg-4 col-md-8 col-sm-6 my-2" *ngFor="let image of imageAttachemts">
                      <img [src]="image" alt="" width="100%" />
                    </div>
                    <!-- <p class="erroMessage" *ngIf="isImageUploadFormSubmitted && !imageAttachemts.length">Please upload an image</p> -->
                  </div>

              </section>

              <section class="border rounded border-light p-sm-5 p-3" [ngStyle]="step==3?{'display': 'block'}:{'display': 'none'}">
                <form [formGroup]="sellingInfoForm">
                  <label for="" class="small">Your Price</label>
                  <input type="number" class="form-control" placeholder="Ex. 50.00" formControlName="productPrice"
                  [ngClass]="{'form-controlError': isSellingInfoFormSubmitted && sellingInfoForm?.controls?.productPrice?.errors}">
                  <p class="mb-4 text-success small">Note: Match the lowest price INR 2859</p>


                  <label for="" class="small">Maximum Retail Price</label>
                  <input type="number" class="form-control mb-4" placeholder="Ex. 50.00" formControlName="mrp"
                  [ngClass]="{'form-controlError': isSellingInfoFormSubmitted && sellingInfoForm?.controls?.mrp?.errors}">

                  <label for="" class="small">SKU</label>
                  <input type="text" class="form-control mb-4" placeholder="" formControlName="sku"
                  [ngClass]="{'form-controlError': isSellingInfoFormSubmitted && sellingInfoForm?.controls?.sku?.errors}">
                </form>
              </section>

              <section class="border rounded border-light p-sm-5 p-3" [ngStyle]="step==4?{'display': 'block'}:{'display': 'none'}">
                <form [formGroup]="productVariationForm">
                  <!-- <label for="" class="">Color</label>
                  <div class="row d-flex col-12">
                  </div>
                  <button class="btn mb-4 btn-sm btn-dark" (click)="addColor()" type="button">Add Color</button>

                  <div>
                    <label for="" class="">Size</label>
                  </div>
                  <div class="row d-flex col-12">
                  </div>

                  <button class="btn mb-4 btn-sm btn-dark" (click)="addSize()" type="button">Add Size</button> -->
                  <label for="" class="">Color</label>
                  <div class="row d-flex col-12">
                  <div formArrayName="color"
                    *ngFor="let color of productVariationForm.get('color')['controls']; let i = index;">
                    <i class="fa fa-times" aria-hidden="true" (click)="removeColor(i)"></i>
                    <div [formGroupName]="i">
                      <input type="text" class="form-control mb-2 mr-2" placeholder="Color" formControlName="color"
                      [ngClass]="{'form-controlError': isFormSubmitted && productVariationForm.get('color')['controls'][i]['controls']['color'].errors}">
                    </div>
                  </div>
                </div>
                  <button class="btn mb-4 btn-sm btn-dark" (click)="addColor()" type="button">Add Color</button>
          
                  <div>
                  <label for="" class="">Size</label>
                </div>
                  <div class="row d-flex col-12">
                    <div formArrayName="size"
                      *ngFor="let size of productVariationForm.get('size')['controls']; let i = index;">
                      <i class="fa fa-times" aria-hidden="true" (click)="removeSize(i)"></i>
                      <div [formGroupName]="i">
                        <input type="text" class="form-control mb-2 mr-2" placeholder="Size" formControlName="size"
                        [ngClass]="{'form-controlError': isFormSubmitted && productVariationForm.get('size')['controls'][i]['controls']['size'].errors}">
                      </div>
                    </div>
                  </div>
                  <button class="btn mb-4 btn-sm btn-dark" (click)="addSize()" type="button">Add Size</button>
                </form>
                </section>


              <div class="row float-right mt-3">
                <button type="button" (click)="step = step - 1;" class="btn btn-sm btn-primary mr-2"
                *ngIf="step > 0">Previous</button>
                <button type="button" (click)="moveToNextStep(step)" class="btn btn-sm btn-primary mr-2"
                *ngIf="step < 4">Next</button>
                <button type="button" class="btn btn-sm btn-primary mr-2" (click)="addProduct()" *ngIf="step==4">Submit</button>
              </div>
            <!-- </form> -->
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->