<div class="page-wrapper chiller-theme toggled">
  <app-side-navigation></app-side-navigation>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
      <div class="container-fluid">
        <h2>Add Products</h2>
        <hr />
        
        <!-- Default form subscription -->
        <form [formGroup]="addProductForm" class="border rounded border-light p-5" (ngSubmit)="addProduct(addProductForm.valid)">

            <label for="" class="small">Product ID</label>
            <input type="text" class="form-control mb-4" placeholder="Product ID" formControlName="productId">
            
            <label for="" class="small">Item Name (AKA Title)</label>
            <input type="text" class="form-control mb-4" placeholder="Item Name" formControlName="itemName">
            
            <label for="" class="small">Country Of Origin</label>
            <input type="text" class="form-control mb-4" placeholder="India" formControlName="countryOfOrigin">
            
            <label for="" class="small">Manufacturer</label>
            <input type="text" class="form-control mb-4" placeholder="Manufacturer" formControlName="manufacturer">
            
            <label for="" class="small">Number of Items</label>
            <input type="number" class="form-control mb-4" placeholder="Number of Items" formControlName="itemsNum">
            
            <label for="" class="small">Color Name</label>
            <input type="text" class="form-control mb-4" placeholder="Color Name" formControlName="colorName">

            <label for="" class="small">Included Components</label>
            <input type="text" class="form-control mb-4" placeholder="Included Components" formControlName="includedComponents">
            
            <label for="" class="small">Exclosure Material</label>
            <input type="text" class="form-control mb-4" placeholder="Exclosure Material" formControlName="exclosureMaterial">
            
            <label for="" class="small">Item type Name</label>
            <input type="text" class="form-control mb-4" placeholder="Item type Name" formControlName="itemTypeName">
            
            <label for="" class="small">Size Map</label>
            <input type="text" class="form-control mb-4" placeholder="Size Map" formControlName="sizeMap">

            <label for="" class="small">Manufacturer Contact</label>
            <input type="text" class="form-control mb-4" placeholder="Address Here..." formControlName="manufacturerContact">

            <label for="" class="small">Product Dimensions</label>
            <div class="row d-flex justify-content-between col-12" formGroupName="productDimensions">
                <input type="text" class="form-control mb-4 col-md-4" placeholder="Length" formControlName="length">
                <input type="text" class="form-control mb-4 col-md-4" placeholder="Width" formControlName="width">
                <input type="text" class="form-control mb-4 col-md-4" placeholder="Height" formControlName="height">
            </div>            
            <label for="" class="small">Unit Count</label>
            <input type="number" class="form-control mb-4" placeholder="18" formControlName="unitCount">

            <label for="" class="small">Unit Count Type</label>
            <input type="number" class="form-control mb-4" placeholder="Set Unit Count" formControlName="unitCountType">

            

            <div class="">
                <button class="btn btn-dark mr-2" (click)="resetForm()" type="button">Cancel</button>
                <button class="btn btn-info" type="submit">Save</button>
            </div>
            


        </form>


        <footer class="text-center">
          <div class="mb-2">
            <small>
              © 2021 made with <i class="fa fa-heart" style="color: red"></i> All
              Rights Reserved
            </small>
          </div>
        </footer>
      </div>
    </main>
    <!-- page-content" -->
  </div>
  <!-- page-wrapper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
  