<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="product/add-products">Product Information</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="product/product-description">Description</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="product/product-images">Images</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="product/product-selling-info">Selling Info</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="product/product-variation">Product Variations</a>
    </li>
</ul>