<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" routerLink="/product/add-products">Product Information</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [ngClass]="{'disabled-a': !productId}" [routerLink]="['/product/product-description', productId]">Description</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/product/product-images', productId]">Images</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [ngClass]="{'disabled-a': !productId}" [routerLink]="['/product/product-selling-info', productId]">Selling Info</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [ngClass]="{'disabled-a': !productId}" [routerLink]="['/product/product-variation', productId]">Product Variations</a>
    </li>
</ul>