<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        
        <div class="col-md-5 col-lg-4 col-sm-8">
            <div class="d-flex justify-content-center">
                <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" alt="Logo" class="my-3 mx-auto">
            </div>
            <!-- Phone Number -->
            <div class="card my-3" *ngIf="registerSteps.step1">
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title"><b>Verify Mobile Number</b></h4>
                    <!-- Text -->
                    <form #verifyMobileNumberForm="ngForm" class="text-left" (ngSubmit)="generateOtp(verifyMobileNumberForm.valid)">
                        <!-- Mobile Number -->
                        <label for="" class="m-0 small mt-3">Enter mobile number below</label>
                        <input name="mobile" type="text" id="defaultSignupFormEmail" [(ngModel)]="mobile" class="form-control" placeholder="Enter 10 digit mobile number" oninput="this.value=this.value.replace(/[^\d]/,'')"
                         maxlength="10" minlength="10" autocomplete="off" required>
                        <p *ngIf="verifyMobileNumberForm.submitted && !mobile" class="deep-orange-text small m-0">
                            Please provide a mobile number!
                        </p>
                       <p *ngIf="verifyMobileNumberForm.submitted && verifyMobileNumberForm.invalid" class="deep-orange-text small m-0">
                            Please enter upto 10 digits
                       </p>
                        <!-- <p *ngIf="verifyMobileNumberForm.submitted && mobile.minLength">MINLENGTH</p> -->
                        <!-- <p class="m-0 small mt-3">We'll send you verification code on this number</p> -->

                        <!-- Generate OTP -->
                        <button class="btn elegant-color text-white btn-sm btn-block my-4 rounded" type="submit">Generate OTP</button>
                    </form>

                    <form class="text-left" action="#!" *ngIf="registerSteps.step2">
                        <!-- OTP Number -->
                        <label for="" class="m-0 small mt-3">Enter OTP below</label>
                        <input type="text" id="defaultSignupFormEmail" class="form-control" placeholder="" oninput="this.value=this.value.replace(/[^\d]/,'')" maxlength="6" autocomplete="off">

                        <!-- Generate OTP -->
                        <button class="btn elegant-color text-white btn-sm btn-block my-4 rounded" type="submit">Verify OTP</button>

                    </form>
                </div>
            </div>

            <!-- Signup Form -->
            <div class="card my-3" *ngIf="registerSteps.step3">
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title"><b>Create Account</b></h4>
                    <!-- Text -->
                    <form class="text-left" [formGroup]="registerForm" (ngSubmit)="submitRegisterForm(registerForm.valid)">

                        <!-- Name -->
                        <label for="" class="m-0 small mt-3">Name</label>
                        <input type="email" formControlName="name" id="defaultSignupFormEmail" class="form-control" placeholder="Your Name">
                        <p *ngIf="!registerForm.get('name').valid && submitFormAttempt && registerForm.get('name').hasError('required')" class="deep-orange-text small m-0">
                            Please provide a name!
                        </p>

                        <!-- Email -->
                        <label for="" class="m-0 small mt-3">Email</label>
                        <input type="email" formControlName="email" id="defaultSignupFormEmail" class="form-control" placeholder="E-mail">
                        <p *ngIf="!registerForm.get('email').valid && submitFormAttempt && registerForm.get('email').hasError('required')" class="deep-orange-text small m-0">
                            Please provide a email!
                        </p>
                        <p *ngIf="registerForm.get('email').hasError('email')" class="deep-orange-text small m-0">
                            Please provide a valid email!
                        </p>
                        <!-- Password -->
                        <label for="" class="m-0 small mt-3">Password</label>
                        <span style="display:flex">
                                <input type="password" 
                                formControlName="password" 
                                id="defaultSignupFormPassword" 
                                class="form-control" 
                                placeholder="Password"
                                [type]="password">
                                <button class="btn border" (click)="togglePassword()" type="button"> 
                                    <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                                    <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                                </button>
                        </span>
                        <p *ngIf="!registerForm.get('password').valid && submitFormAttempt && registerForm.get('password').hasError('required')" class="deep-orange-text small m-0">
                            Please provide a password!
                        </p>
                        <p *ngIf="!registerForm.get('password').valid && submitFormAttempt && registerForm.get('password').hasError('minLength')" class="deep-orange-text small m-0">
                            Please provide a password with atleast 6 characters!
                        </p>
                        <!-- Repeat Password -->
                        <label for="" class="m-0 small mt-3">Confirm Password</label>
                        <span style="display: flex">
                        <input type="password"
                         formControlName="confirmPassword" 
                         id="defaultSignupFormPassword" 
                         class="form-control" 
                         placeholder="Confirm Password"
                         [type]="cfPassword">
                                <button class="btn border" (click)="toggelConfirmPassword()" type="button"> 
                                        <i class="fa fa-eye" aria-hidden="true" *ngIf="!cpShow"></i>
                                        <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="cpShow"></i>
                                    </button>
                        </span>
                        <p *ngIf="!registerForm.get('confirmPassword').valid && submitFormAttempt && registerForm.get('confirmPassword').hasError('required')" class="deep-orange-text small m-0">
                            Please provide a confirm password!
                        </p>
                        <p *ngIf="!registerForm.get('confirmPassword').valid && submitFormAttempt && registerForm.get('confirmPassword').hasError('minLength')" class="deep-orange-text small m-0">
                            Please provide a confirm password with atleast 6 characters!
                        </p>
                        <p *ngIf="registerForm.get('confirmPassword').dirty && registerForm.get('confirmPassword').value !== registerForm.get('password').value" class="deep-orange-text small m-0">
                            Password does not match!
                        </p>
                        <!-- Sign in button -->
                        <button class="btn elegant-color text-white btn-sm btn-block my-4 rounded" type="submit">Create Account</button>
                        <p class="small">By continuing, you agree to our <a href="">Terms of Use</a> and <a href="">Privacy Policy</a>.</p>

                    </form>
                </div>
            </div>
<!-- <ng-container *ngIf="registerSteps.step3"> -->
            <hr class="my-4">
            <div class="d-flex justify-content-center">
                <p class="mx-auto bg-white small d-inline-block px-2 text-black-50" style="margin-top: -36px;">Already a Member ?</p>
            </div>
            <!-- Create Account Button -->
            <a routerLink="/auth/login" role="button" class="btn-block unique-color text-white btn btn-sm rounded my-3">Login your account</a>  
        <!-- </ng-container>           -->
        </div>
    </div>
    
</div>