<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-md-5 col-lg-4 col-sm-8">
            <div class="d-flex justify-content-center">
                <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" alt="Logo" class="my-3 mx-auto">
            </div>

            <!-- Stroe Details -->
            <div class="card">
                <div class="card-body rounded">

                    <!-- Title -->
                    <h4 class="card-title mb-0 text-center"><b>Congratulations!</b></h4>
                    <p class="text-center">Your account created successfully</p>

                    <div class="card-text text-justify">
                        <p>Your account is under review process, your details will be verifed by our team. Our team is constantly active for the verification process. Once verified you will receive a success Account Activation E-Mail from our team. This process might take 24hrs - 72hrs.</p>

                        <p>Thank you</p>
                    </div>
                    
                    
                </div>
            </div>
        </div>

    </div>
</div>