<div class="page-wrapper chiller-theme toggled">
  <app-side-navigation></app-side-navigation>
  <!-- sidebar-wrapper  -->

  <main class="page-content">
    <div class="container-fluid">
      <h2>Product Images</h2>
      <hr />

      <app-product-nav-tabs></app-product-nav-tabs>
      <form
        class="border rounded border-light p-sm-5 p-3"
        enctype="multipart/form-data"
      >
        <div class="row">
          <div class="col-lg-2 col-md-3 col-sm-6 my-2">
            <label for="file-input1">
              <img
                src="https://toppng.com/uploads/preview/file-upload-image-icon-115632290507ftgixivqp.png"
                style="width: 100%; cursor: pointer;"
              />
            </label>
            <input
              #fileInput
              id="file-input1"
              type="file"
              class="d-none"
              (change)="uploadFiles($event)"
            />
          </div>
          <div class="col-lg-4 col-md-8 col-sm-6 my-2">
            <img [src]="imageUrl" alt="" />
          </div>
        </div>

        <div class="mt-4">
          <button class="btn btn-dark mr-2" (click)="resetForm()" type="button">
            Cancel
          </button>
          <button
            class="btn btn-info"
            type="submit"
            (click)="addProductImages()"
          >
            Save and Finish
          </button>
        </div>
      </form>

      <footer class="text-center">
        <div class="mb-2">
          <small>
            © 2021 made with <i class="fa fa-heart" style="color: red"></i> All
            Rights Reserved
          </small>
        </div>
      </footer>
    </div>
  </main>
  <!-- page-content" -->
</div>
