<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark">
    <i class="fa fa-bars text-white" aria-hidden="true"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a>Seller Account</a>
        <div id="close-sidebar">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img
            class="img-responsive img-rounded"
            src="https://likewise-stage.azureedge.net/uploads/3eb6cf23-895b-45e9-b92c-5fb1b457dd04/bill-gates-profile-pic.jpg"
            alt="User picture"
          />
        </div>
        <div class="user-info">
          <span class="user-name"> {{userName}} </span>
          <span class="user-role">Seller</span>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu"><span>General</span></li>
          <li class="sidebar-dropdown">
            <a (click)="showSubMenu=!showSubMenu">
              <i class="fa fa-tachometer" aria-hidden="true"></i>
              <span>Inventory</span>
            </a>
            <div *ngIf="showSubMenu" class="">
              <ul>
                <li>
                  <a routerLink="/manage-inventory">Manage Inventory</a>
                </li>
                <li>
                  <a routerLink="/add-products">Add Products</a>
                </li>
                <li>
                  <a>Add Inventory</a>
                </li>
              </ul>
            </div>
            <!-- <div class="sidebar-submenu">
              <ul>
                <li>
                  <a>Manage Inventory</a>
                </li>
                <li>
                  <a>Add Products</a>
                </li>
                <li>
                  <a>Add Inventory</a>
                </li>
              </ul>
            </div> -->
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="fa fa-shopping-cart"></i>
              <span>Orders</span>
              <span class="badge badge-pill badge-danger">3</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a>Manage Order</a>
                </li>
                <li>
                  <a>Orders Dispatch</a>
                </li>
                <li>
                  <a>Return</a>
                </li>

                <li>
                  <a>Return Pickup</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="sidebar-dropdown">
            <a>
              <i class="fa fa-globe"></i>
              <span>Maps</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a>Google maps</a>
                </li>
                <li>
                  <a>Open street map</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header-menu">
            <span>Extra</span>
          </li>
          <li>
            <a>
              <i class="fa fa-book"></i>
              <span>Documentation</span>
              <span class="badge badge-pill badge-primary">Beta</span>
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-calendar"></i>
              <span>Calendar</span>
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-folder"></i>
              <span>Examples</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">
      <h2>Manage Inventory</h2>
      <hr />
      <div class="row">
        <div class="filer col p-3 rounded my-2 elegant-color text-white">
          <div class="row d-flex align-items-center">
            <div class="col-lg-9">
              <span class="small mr-3">Listing Status</span>
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  type="radio"
                  class="custom-control-input"
                  id="defaultInline1"
                  name="inlineDefaultRadiosExample"
                />
                <label class="custom-control-label" for="defaultInline1"
                  >All</label
                >
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input
                  type="radio"
                  class="custom-control-input"
                  id="defaultInline2"
                  name="inlineDefaultRadiosExample"
                />
                <label class="custom-control-label" for="defaultInline2"
                  >Active</label
                >
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input
                  type="radio"
                  class="custom-control-input"
                  id="defaultInline3"
                  name="inlineDefaultRadiosExample"
                />
                <label class="custom-control-label" for="defaultInline3"
                  >Inactive</label
                >
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input
                  type="radio"
                  class="custom-control-input"
                  id="defaultInline4"
                  name="inlineDefaultRadiosExample"
                />
                <label class="custom-control-label" for="defaultInline4"
                  >Blocked</label
                >
              </div>
            </div>
            <div class="col-lg-3 my-2">
              <select class="browser-default custom-select">
                <option selected>Select Action</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
        </div>
        <div class="table-responsive rounded">
          <table class="table">
            <thead class="grey lighten-2 small text-uppercase">
              <tr>
                <th scope="col">
                  <input type="checkbox" style="cursor: pointer" />
                </th>
                <th scope="col">Product Id</th>
                <th scope="col">Name</th>
                <th scope="col">Country of Origin</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Items Number</th>
                <th scope="col">Color Name</th>
                <th scope="col">Included Components</th>
                <th scope="col">Exclosure Material</th>
                <th scope="col">Item Type Name</th>
                <th scope="col">Size Map</th>
                <th scope="col">Manufacturer Contact</th>
                <th scope="col">Product Dimensions</th>
                <th scope="col">Unit Count</th>
                <th scope="col">Unit Count Type</th>

                <!-- <th scope="col">Status</th>
                <th scope="col">Image</th>
                <th scope="col">SKU</th>
                <th scope="col">Name</th>
                <th scope="col">Date Created</th>
                <th scope="col">Available</th>
                <th scope="col">Unfullfilable</th>
                <th scope="col">Reserved</th>
                <th scope="col">Fee Preview</th>
                <th scope="col">Price + Shipping</th>
                <th scope="col">Business Price + Shipping</th>
                <th scope="col">Lowest Price + Shipping</th>
                <th scope="col">Fee Preview</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products; let i=index;">
                <td scope="row">
                  <input type="checkbox" style="cursor: pointer" />
                </td>
                <td>{{product?.productId}}</td>
                <td>{{product?.itemName}}</td>
                <td>{{product?.countryOfOrigin}}</td>
                <td>{{product?.manufacturer}}</td>
                <td>{{product?.itemsNum}}</td>
                <td>{{product?.colorName}}</td>
                <td>{{product?.includedComponents}}</td>
                <td>{{product?.exclosureMaterial}}</td>
                <td>{{product?.itemTypeName}}</td>
                <td>{{product?.sizeMap}}</td>
                <td>{{product?.manufacturerContact}}</td>
                <td>Length: {{product?.productDimensions?.length || 'NA'}}, Width: {{product?.productDimensions?.width || 'NA'}}, Height: {{product?.productDimensions?.height || 'NA'}}</td>
                <td>{{product?.unitCount}}</td>
                <td>{{product?.unitCountType}}</td>

                <!-- <td>
                  <p class="text-left small m-0">Inactive</p>
                  <span class="text-left small m-0 p-0 text-muted"
                    >(Out Of Stock)</span
                  >
                </td> -->
                <!-- <td>
                  <img
                    src="https://images-na.ssl-images-amazon.com/images/I/61pZoOB87SL.jpg"
                    alt=""
                    width="50px"
                    height="50px"
                  />
                </td>
                <td>Cell</td>
                <td>
                  <p class="small p-0 m-0">
                    ROYAL TREND® Carpets 5 Feet x 7 Feet Black Cotton Skin
                    Friendly Runner Rug Mat for Dining Hall Living Room Hall
                    (Kalin Carpet 55"x86")
                  </p>
                </td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td> -->
              </tr>

              <!-- <tr>
                <th scope="row">
                  <input type="checkbox" style="cursor: pointer" />
                </th>
                <td>
                  <p class="text-left small m-0">Inactive</p>
                  <span class="text-left small m-0 p-0 text-muted"
                    >(Out Of Stock)</span
                  >
                </td>
                <td>
                  <img
                    src="https://images-na.ssl-images-amazon.com/images/I/61pZoOB87SL.jpg"
                    alt=""
                    width="50px"
                    height="50px"
                  />
                </td>
                <td>Cell</td>
                <td>
                  <p class="small p-0 m-0">
                    ROYAL TREND® Carpets 5 Feet x 7 Feet Black Cotton Skin
                    Friendly Runner Rug Mat for Dining Hall Living Room Hall
                    (Kalin Carpet 55"x86")
                  </p>
                </td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>

      <footer class="text-center">
        <div class="mb-2">
          <small>
            © 2021 made with <i class="fa fa-heart" style="color: red"></i> All
            Rights Reserved
          </small>
        </div>
      </footer>
    </div>
  </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>
