<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        
        <div class="col-md-5 col-lg-4 col-sm-8">
            <div class="d-flex justify-content-center">
                <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" alt="Logo" class="my-3 mx-auto">
            </div>
            <!-- Phone Number -->
            <div class="card my-3">
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title"><b>Verify Mobile Number</b></h4>
                    <!-- Text -->
                    <form class="text-left" action="#!">
                        <!-- Mobile Number -->
                        <label for="" class="m-0 small">Enter mobile number below</label>
                        <input type="text" id="defaultSignupFormEmail" class="form-control" placeholder="" oninput="this.value=this.value.replace(/[^\d]/,'')" maxlength="10" autocomplete="off">
                        <p class="m-0 small">We'll send you verification code on this number</p>

                        <!-- Generate OTP -->
                        <button class="btn elegant-color text-white btn-sm btn-block my-4 rounded" type="submit">Generate OTP</button>

                    </form>

                    <form class="text-left" action="#!">
                        <!-- OTP Number -->
                        <label for="" class="m-0 small">Enter OTP below</label>
                        <input type="text" id="defaultSignupFormEmail" class="form-control" placeholder="" oninput="this.value=this.value.replace(/[^\d]/,'')" maxlength="6" autocomplete="off">

                        <!-- Generate OTP -->
                        <button class="btn elegant-color text-white btn-sm btn-block my-4 rounded" type="submit">Verify OTP</button>

                    </form>
                </div>
            </div>

            <!-- Signup Form -->
            <div class="card my-3">
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title"><b>Create Account</b></h4>
                    <!-- Text -->
                    <form class="text-left" action="#!">

                        <!-- Name -->
                        <label for="" class="m-0 small">Name</label>
                        <input type="email" id="defaultSignupFormEmail" class="form-control mb-3" placeholder="Your Name">

                        <!-- Email -->
                        <label for="" class="m-0 small">Email</label>
                        <input type="email" id="defaultSignupFormEmail" class="form-control mb-3" placeholder="E-mail">

                        <!-- Password -->
                        <label for="" class="m-0 small">Password</label>
                        <input type="password" id="defaultSignupFormPassword" class="form-control mb-3" placeholder="Password">

                        <!-- Repeat Password -->
                        <label for="" class="m-0 small">Repeat Password</label>
                        <input type="password" id="defaultSignupFormPassword" class="form-control" placeholder="Repeat Password">
                        <p class="m-0 small">Passwords must be at least 6 characters.</p>

                        <!-- Sign in button -->
                        <button class="btn elegant-color text-white btn-sm btn-block my-4 rounded" type="submit">Create Account</button>
                        <p class="small">By continuing, you agree to our <a href="">Terms of Use</a> and <a href="">Privacy Policy</a>.</p>

                    </form>
                </div>
            </div>

            <hr class="my-4">
            <div class="d-flex justify-content-center">
                <p class="mx-auto bg-white small d-inline-block px-2 text-black-50" style="margin-top: -36px;">Already a Member ?</p>
            </div>
            <!-- Create Account Button -->
            <a href="" role="button" class="btn-block unique-color text-white btn btn-sm rounded my-3">Login your account</a>            
        </div>
    </div>
    
</div>