<div class="page-wrapper chiller-theme toggled">
    <app-side-navigation></app-side-navigation>
      <!-- sidebar-wrapper  -->
  
  
      <main class="page-content">
        <div class="container-fluid">
          <h2>Product Description</h2>
          <hr />
          <form class="border rounded border-light p-sm-5 p-3">
  
            <label for="" class="small">Product Description</label>
            <textarea class="form-control mb-4" placeholder="8-Peice luxury comforter set product includes 1 comforter, 1 bed skirt, 2 shams, 2 euro shams and 2 decorated pillows"></textarea>
  
            <label for="" class="small">Bullet Points</label>
            <input type="text" class="form-control mb-4" placeholder="Embroidered design">
  
            <div class="">
                <button class="btn btn-dark mr-2" (click)="resetForm()" type="button">Cancel</button>
                <button class="btn btn-info" type="submit">Save and Finish</button>
            </div>
              
  
  
          </form>
  
  
          <footer class="text-center">
            <div class="mb-2">
              <small>
                © 2021 made with <i class="fa fa-heart" style="color: red"></i> All
                Rights Reserved
              </small>
            </div>
          </footer>
        </div>
      </main>
      <!-- page-content" -->
    </div>