<a id="show-sidebar" class="btn btn-sm btn-dark">
    <i class="fa fa-bars text-white" aria-hidden="true"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <div id="close-sidebar" (click)="closeSidebar()">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img
            class="img-responsive img-rounded"
            src="https://likewise-stage.azureedge.net/uploads/3eb6cf23-895b-45e9-b92c-5fb1b457dd04/bill-gates-profile-pic.jpg"
            alt="User picture"
          />
        </div>
        <div class="user-info">
          <a routerLink="/seller/profile"> {{userName}} </a>
          <button class="btn btn-dark mr-2" (click)="logout()" type="button">Logout</button>
          <!-- <span class="user-role">Seller</span> -->
        </div>
      </div>

      <!-- Sidebar Menu -->
      <div class="sidebar-menu">
        <ul>

          <!-- <li class="header-menu"><span>General</span></li> -->
          <li class="sidebar-dropdown">
            <a routerLink="/seller/active-dashboard">
              <i class="fa fa-list-ul"></i>
              <span>Dashboard</span>
            </a>
            <a (click)="showSubMenu=!showSubMenu">
              <i class="fa fa-tachometer" aria-hidden="true"></i>
              <span>Inventory</span>
            </a>
            <div *ngIf="showSubMenu" class="">
              <ul>
                <li routerLinkActive="active">
                  <a routerLink="/inventory">Manage Inventory</a>
                </li>
                <li>
                  <a routerLink="/product/add-products">Add Products</a>
                </li>
                <li routerLinkActive="active">
                  <a>Add Inventory</a>
                </li>
              </ul>
            </div>
            
          </li>
          <li class="sidebar-dropdown">
            <a routerLink="/seller/order-listing">
              <i class="fa fa-shopping-cart"></i>
              <span> Order Listing </span></a></li>
          <!-- <li class="sidebar-dropdown">
            <a (click)="showSubMenu=!showSubMenu">
              <i class="fa fa-tachometer" aria-hidden="true"></i>
              <span>Order</span>
            </a>
            <div *ngIf="showSubMenu" class="">
              <ul>
                <li routerLinkActive="active">
                  <a routerLink="/inventory">Manage Inventory</a>
                </li>
                <li routerLinkActive="active">
                  <a routerLink="/product/add-products">Add Products</a>
                </li>
                <li routerLinkActive="active">
                  <a>Add Inventory</a>
                </li>
              </ul>
            </div>
          </li> -->
          
          <!-- <li class="sidebar-dropdown">
            <a>
              <i class="fa fa-globe"></i>
              <span>Maps</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a>Google maps</a>
                </li>
                <li>
                  <a>Open street map</a>
                </li>
              </ul>
            </div>
          </li> -->
          <!-- <li class="header-menu">
            <span>Extra</span>
          </li>
          <li>
            <a>
              <i class="fa fa-book"></i>
              <span>Documentation</span>
              <span class="badge badge-pill badge-primary">Beta</span>
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-calendar"></i>
              <span>Calendar</span>
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-folder"></i>
              <span>Examples</span>
            </a>
          </li> -->
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
  </nav>