<div class="page-wrapper chiller-theme toggled">
  <app-side-navigation></app-side-navigation>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">
      <h2>Welcome {{userName}}</h2>
      <hr />
      <!-- <div class=" rounded">
        <p class="py-2 px-3 text-white d-flex align-items-center justify-content-between">
          <span class="m-0 p-0" *ngIf="!sentMail">
            Email verification pending.
          </span>
          <span class="m-0 p-0" *ngIf="sentMail">
            Verification email has been sent to you. Please check your mail.
          </span>
          
          
          <button class="btn btn-dark btn-sm my-2" (click)="sendVerificationEmail()">Verify Now</button>
        </p>
      </div> -->
      <div [ngClass]="mailVerified ? 'bg-success' : sentMail ? 'bg-info' : 'bg-danger'" class="rounded">
        <p class="py-2 px-3 text-white d-flex align-items-center justify-content-between">
          <span class="m-0 p-0" *ngIf="!sentMail && !mailVerified">
            Email verification pending.
          </span>
          <span class="m-0 p-0" *ngIf="sentMail && !mailVerified">
            Verification email has been sent to you. Please check your mail.
          </span>
          <span class="m-0 p-0" *ngIf="mailVerified">
            Email has been verified.
          </span>
          
          <button *ngIf="!mailVerified" class="btn btn-dark btn-sm my-2" (click)="sendVerificationEmail()">
            <span *ngIf="!sentMail">Verify Now</span>
            <span *ngIf="sentMail">Resend Email</span>

          </button>
        </p>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 my-2">
            <div class="card rounded default-color-dark p-0 shadow-sm">
                <div class="card-body text-center text-white">
                  <h6 class="card-title">Today's Sale</h6>
                  <p>Rs. {{ totalAmnt }}</p>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 my-2">
            <div class="card rounded p-0 special-color-dark shadow-sm">
                <div class="card-body text-white text-center">
                  <h6 class="card-title">Today's Order</h6>
                  <p>{{ totalOrders }}</p>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 my-2">
            <div class="card rounded p-0 shadow-sm primary-color-dark">
                <div class="card-body text-center text-white">
                  <h6 class="card-title">Next Payment</h6>
                  <p>Rs. {{ totalAmnt }}</p>
                </div>
            </div>
        </div>
        
      </div>
      <hr />

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 my-2">
          
            <div class="card rounded p-0 shadow-sm">
              <div class="col-12 d-flex justify-content-end">
                <select class="form-control col-md-3 my-3" name="" id="" (change)="callChart($event)">
                  <option value="week">Weekly</option>
                  <option value="month">Monthly</option>
                  <option value="year">Yearly</option>
                </select>
              </div>
              
                <canvas id="saleChart" width="800" height="400"></canvas>
                <div class="card-body text-center">
                  <h6 class="card-title">{{ sales}}</h6>
                  <p>Rs. {{ totalAmntChart }}</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 my-2">
          
            <div class="card rounded p-0 shadow-sm">
              <div class="col-12 d-flex justify-content-end">
                <select class="form-control col-md-3 my-3" name="" id="" (change)="callChart($event)">
                  <option value="week-order">Weekly</option>
                  <option value="month-order">Monthly</option>
                  <option value="year-order">Yearly</option>
                </select>
              </div>
                <canvas id="orderChart" width="800" height="400"></canvas>
                <div class="card-body text-center">
                  <h6 class="card-title">{{ orders }}</h6>
                  <p> {{ totalOrdersChart }}</p>
                </div>
            </div>
        </div>
        
      </div>

      <hr />

      <footer class="text-center">
        <div class="mb-2">
          <small>
            © 2021 made with <i class="fa fa-heart" style="color: red"></i> All Rights Reserved
          </small>
        </div>
      </footer>
    </div>
  </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>
